.navbar-brand {
    font-size: 40px;
    padding-left: 0;
}

.navbar-text a {
    padding-left: 30px;
}

.post_message_form {
    width: 90%;
    margin: 0 auto;
}

.post_message_form textarea {
    width: 100%;
    resize: none;
}

.btn_row {
    text-align: right;
}

.msg_comm_area {
    margin-left: 50px;
    padding-right: 120px;
}

.comm {
    margin-left: 20px;
}

.comm_form {
    margin-left: 30px;
}

.comm_form textarea {
    width: 100%;
    margin: 0 auto;
    resize: none;
}