<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <!--registration-->
            <div class="col-md-6">
                <form action="register" method="POST">
                {% csrf_token %}
                    <h2>Registration</h2>
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input class='form-control' name="fname" type="text">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input class='form-control' name="lname" type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class='form-control' name="email" type="text">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class='form-control' name="password" type="password">
                    </div>
                    <div class="form-group">
                        <label for="cpassword">Confirm Password</label>
                        <input class='form-control' name="cpassword" type="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <!--login-->
            <div class="col-md-6">
                <form action="check_login" method="POST">
                {% csrf_token %}
                    <h2>Login</h2>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class='form-control' name="email" type="text">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class='form-control' name="password" type="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>